# Virtual Environment
.venv/
env/
venv/
ENV/

# Python caching & byte-code
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# IDE / Editors
.idea/
.vscode/
*.DS_Store
*.swp

# Package build & distribution artifacts
build/
dist/
*.egg-info/

# Project scanning data & logs
reports/
runtime_data/
logs/
